@using Microsoft.AspNetCore.Identity
@using Database.Core
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hungabor01Website</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
   
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true" />
        <link href="~/css/site.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary navigation">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">
            <i class="fas fa-home"></i>
            Home
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bg-muted" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="Articles">
                        <i class="fas fa-laptop-code"></i>
                        Articles
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-action="Index" asp-controller="LearningMaterials">
                        <i class="fas fa-book-open"></i>
                        Learning Materials
                    </a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <strong class="nav-link">@User.Identity.Name</strong>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="EditAccount" asp-controller="Account">
                            <i class="fa fa-cog"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Logout" asp-controller="Account">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-0">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="EditAccount" asp-controller="Account">
                            <img src="@Url.Action("GetProfilePicture", "account")" alt="User picture">
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Login" asp-controller="Login">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Register" asp-controller="Register">
                            <i class="fas fa-user-plus"></i>
                            Sign up
                        </a>
                    </li>
                </ul>
            }
        </div>
    </nav>

    <div class="content">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </div>

    <div class="footer">
        &copy; 2020 - hungabor01.com - <a asp-action="Privacy" asp-controller="Home">Privacy Policy</a><a asp-action="Contacts" asp-controller="Home">Contacts</a>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>