@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Hungabor01Website</title>

  <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">

  <environment include="Development">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/navigation.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"
          asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position"
          asp-fallback-test-value="absolute"
          asp-suppress-fallback-integrity="true" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/navigation.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
  </environment>

  @RenderSection("Styles", required: false)
</head>
<body>
  <!-- start of page wrapper -->
  <div class="page-wrapper chiller-theme toggled">
    <!-- start of minimized navigation -->
    <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </a>
    <!-- end of minimized navigation -->
    <!-- start of navigation -->
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <!-- start of nav header -->
        <div class="sidebar-brand">
          <a asp-controller="Home" asp-action="Index">Hungabor01Website</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <!-- end of nav header -->
        <div class="fixed-items">
         @if (SignInManager.IsSignedIn(User))
          {
            <!-- start of account details -->
            <div class="sidebar-header">
              <div class="user-pic">
                <a asp-controller="account" asp-action="EditAccount">
                  <img class="img-responsive img-rounded" src="@Url.Action("GetProfilePicture", "account")" alt="User picture">									
                </a>
              </div>
              <div class="user-info">
                <span class="user-name">
                  <strong>@User.Identity.Name</strong>
                </span>
              </div>
            </div>
            <!-- end of account details -->
            <!-- start of account icons -->
            <div class="sidebar-accounticons">              
              <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
              </a>
              <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
              </a>
              <a asp-controller="account" asp-action="EditAccount">
                <i class="fa fa-cog"></i>
              </a>
              <a asp-controller="account" asp-action="logout">
                <i class="fa fa-power-off"></i>
              </a>
            </div>
            <!-- end of account icons -->
          }
          else
          {
            <div class="sidebar-login">
              <ul>
                <li>
                  <a class="nav-link" asp-controller="account" asp-action="login">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Sign In</span>
                  </a>
                </li>
                <li>
                  <a class="nav-link" asp-controller="account" asp-action="register">
                    <i class="fas fa-user-plus"></i>
                    <span>Sign up</span>
                  </a >
                </li >
              </ul >
            </div >
          }
          <!-- start of search -->
          <div class="sidebar-search">
            <div>
              <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- end of search -->
        </div>
        <!-- start of navigation menu -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li class="sidebar-dropdown">
              <a href="#">
                <i class="fa fa-tachometer-alt"></i>
                <span>Dashboard</span>
                <span class="badge badge-pill badge-warning">New</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a href="#">
                      Dashboard 1
                      <span class="badge badge-pill badge-success">Pro</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Dashboard 2</a>
                  </li>
                  <li>
                    <a href="#">Dashboard 3</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- end of navigation menu -->
      </div>
    </nav>
    <!-- end of navigation -->
    <!-- start of page-content -->
    <main class="page-content toggled">
      <div class="container-fluid">
        @RenderBody()
      </div>
    </main>
    <!-- end of page-content -->
  </div>
  <!-- end of page wrapper -->
  <!-- start of footer -->
  <footer class="border-top footer text-muted toggled">
    <div class="container">
      &copy; 2020 - Hungabor01Website - <a asp-controller="Home" asp-action="Privacy">About and Privacy</a><a asp-controller="Home" asp-action="Contacts">Contacts</a>
    </div>
  </footer>
  <!-- end of footer -->

  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
  <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
  <environment include="Development">
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>
  @RenderSection("Scripts", required: false)
</body>
</html>
